#container-1 {
    margin: 55vh 0;
    padding: 50px;
}

#block-1 {
    width: 200px;
    padding: 10px;
    font-family: Helvetica;
}

#container-2 {
    margin: 55vh 0;
    padding: 50px;
    display: flex;
    flex-direction: row;
}

.block-2 {
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    font-family: Helvetica;
}

#block-2 {
    opacity: 0;
}

#block-3,
#block-4 {
    opacity: 0;
}
