#container-1 {
    margin: 55vh 0;
    padding: 50px;
}

#block-1 {
    width: 200px;
    padding: 10px;
    font-family: Avenir;
}

#container-2 {
    margin: 55vh 0;
    padding: 50px;
    display: flex;
    flex-direction: row;
}

.block-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 25px;
    margin-left: 1vw;
    font: 18px Avenir;
    color: white;
    text-align: center;
}

#block-2 {
    opacity: 0;
    background-color: #E91E63;
}

#block-3 {
  opacity: 0;
  background-color: #FF9800;
}

#block-4 {
    opacity: 0;
    background-color: #8BC34A;
}
