#container-1 {
    margin: 55vh 0;
    padding: 50px;
}

#block-1 {
    width: 200px;
    padding: 10px;
    font-family: Helvetica;
}

#container-2 {
    margin: 55vh 0;
    padding: 50px;
    display: flex;
    flex-direction: row;
}

.block-2 {
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    font-family: Helvetica;
}

#block-2 {
    opacity: 0;
    animation-duration: 1s;
    animation-delay: .5s;
}

#block-3 {opacity: 0;
    animation-delay: 1s;
}
