#container-1 {
    margin: 55vh 0;
    padding: 50px;
    /*outline: 1px dashed orange;*/
}

#block-1 {
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    font-family: Helvetica;
}

#container-2 {
    margin: 55vh 0;
    padding: 50px;
    /*outline: 1px dashed orange;*/
}

#block-2 {
    width: 200px;
    float: right;
    padding: 10px;
    border: 1px solid black;
    font-family: Helvetica;
}
